# Quiz August 3

In [1]:
from pandas import Series, DataFrame
import pandas as pd
import re
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
permits = pd.read_csv('permits.csv')

In [3]:
len(permits)

99788

In [4]:
permits.columns.values

array(['Work Type', "Permittee's License Type", 'Applicant Business Name',
       'Estimated Job Costs', 'Approved Date', 'Issued Date',
       'Owner Business Name'], dtype=object)

### Question 1 - What is the most common *Work Type*?

In [5]:
permits['Work Type'].value_counts()

Sidewalk Shed         28908
Construction Fence    20628
Supported Scaffold    14474
Plumbing              10886
Sign                   8430
Mechanical Systems     6036
Sprinklers             3466
Antenna                2558
Structural             1602
Curb Cut               1437
Boiler Equipment        937
Standpipe               426
Name: Work Type, dtype: int64

### Question 2 - How many permits have GREENACRE MANAGEMENT as the Owner Business Name?

In [6]:
len(permits[permits['Owner Business Name'] == 'GREENACRE MANAGEMENT'])

8

### Question 3 - In how many permits is the *Applicant Business Name* not missing?

In [7]:
len(permits[permits['Applicant Business Name'].notnull()])

99502

### Question 4 - How often is the *Owner Business Name* the same as the *Applicant Business Name*?

In [8]:
len(permits[permits['Owner Business Name'] == permits['Applicant Business Name']])

21053

### Question 5 - Which Applicant Business Name works with the most unique Owner Business Names
### (Solved)

In [9]:
unique_owner = permits[['Applicant Business Name', 'Owner Business Name']].drop_duplicates(['Owner Business Name']).dropna()
unique_owner

         Applicant Business Name              Owner Business Name
0                 P.H. WORKS INC             GREENACRE MANAGEMENT
1       SILVERCUP SCFFLDNG I LLC                 525 ST MARKS LLC
2      NEPTUNE SIGNS&AWNINGS INC         BROTHER CAR SERVICE, INC
3           ROMA SCAFFOLDING INC                            NYCHA
4      H BRONNER & SON PLBG & HT                               PR
...                          ...                              ...
99530         BELL FUEL OIL, LLC                         NAMINORI
99581  KDL CONSTRUCTION & DEVELO             253-255 NOSTRAND LLC
99744  DONE RIGHT KITCHEN EXHAUS               A & A DELI GROCERY
99745   PSP NY CONSTRUCTION, INC  JD 840 EAST NEW YORK FOOD CORP.
99763  PRESTIGIOUS MAINTENANCE I              CHAPIMEX DELI CORP.

[10329 rows x 2 columns]

In [10]:
unique_owner['Applicant Business Name'].value_counts()

EVEREST SCAFFOLDING INC      409
NEPTUNE SIGNS&AWNINGS INC    400
SILVERCUP SCFFLDNG I LLC     192
ARSENAL SCAFFOLD INC         134
CS BRIDGE CORP               128
                            ...
VS MANAGEMENT PLUS,INC         1
RANSHAW PLBG & HTG LLC         1
WKR CONSTRUCTION, INC          1
URBAN CNSTION SRVCS GROUP      1
JOHN CIVETTA & SONS INC        1
Name: Applicant Business Name, Length: 3184, dtype: int64

### Question 6 - Among permits where the Work Type is Plumbing, what is the most common Permittee's License Type?

In [11]:
plumbing = permits[permits['Work Type'] == 'Plumbing']

In [12]:
plumbing["Permittee's License Type"].value_counts()

P     10883
PR        2
GC        1
Name: Permittee's License Type, dtype: int64

### Question 7 - Which Permittee's License Types are allowed to work on exactly 6 different Work Types?
### (Solved)

In [13]:
permittee = permits[['Work Type', "Permittee's License Type"]].drop_duplicates()
permittee

                Work Type Permittee's License Type
0                Plumbing                        P
1           Sidewalk Shed                       GC
2                    Sign                        S
8      Construction Fence                       GC
9      Supported Scaffold                       GC
19     Mechanical Systems                       GC
25       Boiler Equipment                        P
26                Antenna                       GC
28             Sprinklers                        F
33               Curb Cut                       GC
89              Standpipe                        F
99       Boiler Equipment                        O
158    Construction Fence                       PR
161            Structural                       GC
2158   Construction Fence                       RA
2816             Curb Cut                       PE
3013                 Sign                       GC
4392   Construction Fence                       PE
4633   Mechanical Systems                       PE
14101  Mechanical Systems                       RA
14662  Supported Scaffold                       PE
20374  Supported Scaffold                       PR
21435          Structural                       PE
24624            Curb Cut                       RA
39152          Sprinklers                        P
41305  Mechanical Systems                        P
43409       Sidewalk Shed                       PE
48204            Curb Cut                       PR
54364           Standpipe                        P
83730            Plumbing                       GC
84754          Sprinklers                       PR
85008            Plumbing                       PR
85485                Sign                       PR

In [14]:
permittee["Permittee's License Type"].value_counts()

GC    9
PR    6
PE    6
P     5
RA    3
F     2
S     1
O     1
Name: Permittee's License Type, dtype: int64

### Question 8 - For each Applicant Business Name, figure out the average "Estimated Job Costs". Find the name of the Applicant Business Name that has the 5th highest average job cost.

In [15]:
Avg_job_cost = permits.groupby('Applicant Business Name')[['Estimated Job Costs']].mean()
Avg_job_cost.columns = ['Average Estimated Job Costs']

In [16]:
Avg_job_cost = Avg_job_cost.sort_values(by = 'Average Estimated Job Costs', ascending = False)

In [17]:
Avg_job_cost[:5]

                           Average Estimated Job Costs
Applicant Business Name
ADAM'S EUROPEAN CONTRACTI                 9.250568e+07
ZOI CONTRACTING INC                       5.220384e+06
DYNAMIC US, INC                           5.008000e+06
INFINITY CONTRACTING SERV                 4.877476e+06
DPR CONSTRUCTION                          4.321188e+06

### Question 9 - How many unique Applicant Business Names have INC as the *last* word?

In [18]:
unique_applicant = permits[['Applicant Business Name', 'Work Type']].drop_duplicates('Applicant Business Name').dropna()
unique_applicant

         Applicant Business Name           Work Type
0                 P.H. WORKS INC            Plumbing
1       SILVERCUP SCFFLDNG I LLC       Sidewalk Shed
2      NEPTUNE SIGNS&AWNINGS INC                Sign
3           ROMA SCAFFOLDING INC       Sidewalk Shed
4      H BRONNER & SON PLBG & HT            Plumbing
...                          ...                 ...
99237        IDEAL PLUMBING CORP            Plumbing
99431  M. RAHMAN CONSTRUCTION CO  Construction Fence
99566                ZOUBEAR INC          Structural
99745   PSP NY CONSTRUCTION, INC  Construction Fence
99749         KABACK ENTERPRISES  Mechanical Systems

[5461 rows x 2 columns]

In [19]:
unique_applicant["Suffix"] = unique_applicant["Applicant Business Name"].str.split().str[-1]
unique_applicant[["Suffix"]]

            Suffix
0              INC
1              LLC
2              INC
3              INC
4               HT
...            ...
99237         CORP
99431           CO
99566          INC
99745          INC
99749  ENTERPRISES

[5461 rows x 1 columns]

In [20]:
unique_applicant[unique_applicant["Suffix"] == "INC"]

         Applicant Business Name           Work Type Suffix
0                 P.H. WORKS INC            Plumbing    INC
2      NEPTUNE SIGNS&AWNINGS INC                Sign    INC
3           ROMA SCAFFOLDING INC       Sidewalk Shed    INC
5        KAJ NY CONSTRUCTION INC       Sidewalk Shed    INC
8      CORE SCAFFOLD SYSTEMS INC  Construction Fence    INC
...                          ...                 ...    ...
98410        NKG CONTRACTING INC          Structural    INC
98513  SAM'S AIRCONDITIONING INC  Mechanical Systems    INC
99187       NT INTERNATIONAL INC  Mechanical Systems    INC
99566                ZOUBEAR INC          Structural    INC
99745   PSP NY CONSTRUCTION, INC  Construction Fence    INC

[1733 rows x 3 columns]

### Question 10 - What is the maximum number of permits issued on any date? You need to look at the Issued Date. You can ignore the time at which the permit is issued, and just consider the date. Each row corresponds to one permit being issued.
### (Solved, but silly mistake first time around. I filtered *Approved Date* instead of *Issued Date.*)

In [21]:
permits['Approved Date'] = pd.to_datetime(permits['Approved Date'])

In [22]:
permits_by_approved_date = permits['Approved Date'].value_counts()

In [23]:
permits_by_approved_date

2019-11-08 00:00:00    325
2019-11-12 00:00:00    317
2019-11-19 00:00:00    311
2019-09-10 00:00:00    303
2020-02-18 00:00:00    301
                      ...
2019-09-03 09:31:00      1
2020-03-02 09:36:00      1
2019-12-05 10:24:00      1
2018-03-14 15:10:00      1
2019-04-25 09:02:00      1
Name: Approved Date, Length: 4422, dtype: int64

In [24]:
permits['Issued Date'] = pd.to_datetime(permits['Issued Date'])

In [25]:
permits_by_issued_date = permits['Issued Date'].value_counts()

In [26]:
permits_by_issued_date

2020-02-28    463
2020-03-03    413
2020-03-19    386
2020-07-16    379
2020-02-14    374
             ...
2019-06-22      1
2016-10-06      1
2017-09-21      1
2020-06-06      1
2016-09-20      1
Name: Issued Date, Length: 811, dtype: int64

### Question 11 - How many instances are there where the "Issued Date" is earlier than the "Approved Date" Sometimes they are both on the same day, but the issued date is an earlier hour/min/sec than the Approved Date. Count these instances as well in your answer.

In [27]:
len(permits[permits['Issued Date'] < permits['Approved Date']])

2963

### Question 12: 

The similarity between two Owner Business Names is the number of unique Applicant Business Names who have worked with both the Owners. For example, suppose
* Owner A employed Applicants X, Y, and Z (possibly in different permit applications),
* Owner B employed Applicants W, X, Y, and Z, and
* Owner C employed Applicants X and Y

Then we have the following similarities:
* similarity of A and B is 3 (they share X, Y, Z)
* similarity of B and C is 2 (they share X, Y)
* similarity of A and C is 2 (they share X, Y)

Calculate the similarities between all pairs of Owner Business Names.

### What is the maximum value of this similarity?

NOTE: In the example above, the answer would be 3.

NOTE: We don't care if an Owner has employed the same Applicant many times. For example, the similarity of A and C is 2 even if they each employed X and Y 100 times.

In [28]:
appown = permits[['Applicant Business Name', 'Owner Business Name']].drop_duplicates()

In [29]:
merged = appown.merge(appown, on = 'Applicant Business Name')
merged

,Applicant Business Name,Owner Business Name_x,Owner Business Name_y
0,P.H. WORKS INC,GREENACRE MANAGEMENT,GREENACRE MANAGEMENT
1,P.H. WORKS INC,GREENACRE MANAGEMENT,PR
2,P.H. WORKS INC,GREENACRE MANAGEMENT,MADISON REALTY CAPITAL
3,P.H. WORKS INC,GREENACRE MANAGEMENT,GD CAPITAL
4,P.H. WORKS INC,GREENACRE MANAGEMENT,J WASSER & CO
...,...,...,...
1341967,IDEAL PLUMBING CORP,NaN,NaN
1341968,M. RAHMAN CONSTRUCTION CO,HPD,HPD
1341969,ZOUBEAR INC,NaN,NaN
1341970,"PSP NY CONSTRUCTION, INC",JD 840 EAST NEW YORK FOOD CORP.,JD 840 EAST NEW YORK FOOD CORP.
1341971,KABACK ENTERPRISES,RFR,RFR

In [30]:
merged = merged[merged['Owner Business Name_x'] != merged['Owner Business Name_y']]
merged

,Applicant Business Name,Owner Business Name_x,Owner Business Name_y
1,P.H. WORKS INC,GREENACRE MANAGEMENT,PR
2,P.H. WORKS INC,GREENACRE MANAGEMENT,MADISON REALTY CAPITAL
3,P.H. WORKS INC,GREENACRE MANAGEMENT,GD CAPITAL
4,P.H. WORKS INC,GREENACRE MANAGEMENT,J WASSER & CO
5,P.H. WORKS INC,GREENACRE MANAGEMENT,FRONTGATE MANAGEMENT
...,...,...,...
1341947,ADD MECHANICAL INC,SECRETARY,ACUITY CAPITAL PARTNERS
1341950,GREEN AGE RENOVATIONS LLC,NaN,NaN
1341959,WULFING CONSTRUCTION LLC,NaN,NaN
1341967,IDEAL PLUMBING CORP,NaN,NaN
1341969,ZOUBEAR INC,NaN,NaN

In [31]:
%%time
merged.groupby(['Owner Business Name_x', 'Owner Business Name_y']).count().sort_values(by = 'Applicant Business Name', ascending = False) + 1

Wall time: 761 ms

                                                    Applicant Business Name
Owner Business Name_x     Owner Business Name_y
PR                        VORNADO REALTY TRUST                           87
VORNADO REALTY TRUST      PR                                             87
PR                        TISHMAN SPEYER                                 70
TISHMAN SPEYER            PR                                             70
PR                        SL GREEN REALTY CORP                           69
...                                                                     ...
HOME AWAY FROM HOME COMME ESQUIRE MANAGEMENT CORP.                        1
                          EQUITY RESIDENTIAL                              1
                          EMANUEL  LOBUE                                  1
                          DURST ORGANIZATION                              1
EQUITY RESIDENTIAL        VALENZA CONTRACTORS,INC                         1

[1227424 rows x 1 columns]